a{
    color: azure;
    text-decoration: none;
}
.menu-btn {
 position: absolute;
 top: 1rem;
 right: 1rem;
 z-index: 1;
}
.menu-check{
    display: none;
    
}
.menu-check:checked + .links{
    transform: translateY(0);
}
.links{
    transform: translateX(-200%);
    transition: transform 1s;
    background-color: rgb(96, 96, 255);
    color: white;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.img{
    width:100px;
    height:100px;
}
@media screen and (min-width: 768px ) {
    .menu-btn{
        display: none;
    }
    .links{
        transform: translateY(0);
    }
}